# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Data and logs
examples/data/
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# System files
.DS_Store